/*--------------------------Media queries-------------------------------*/

@media screen and (max-device-width: 1024px){

	#section0 .Logotype img {
		width: 50%;
		right: -27%;
	}

	.TextPresentation {
	    margin: -5% 25% 0;
	    padding: 40px 40px;
	}

	.ElementFlotant.Presentation img {
		width: 25%;
	    margin: 0% 0 0 5%;
	}

	.ElementFlotant.Works img {
		margin: -25% 0px -20% 2%;
		width: 30%;
	}

	#section2 .works {
		width: 65%;
    	margin-left: 25%;
	}

	.fondPopIn {
		left: -40%;
		height: 830px;
		width: 160%;
	}

	#myModalDance .fondPopIn {
		width: 200%;
		height: 715px;
	}

	#section3 .intro .Companies {
		margin-top: 8%;
	}

	#section3 .intro a .nameHover.TheAustralianBallet {
		margin-left: -33.9%;
	}

	#section4 .intro .ProgramImage img {
		width: 40%;
    	margin-left: 30%;
	}

	.ElementFlotant.DanceCompanies img {
	    width: 25%;
    	margin: 5% 0 0 3%;
	}

	.ElementFlotant.Program img {
		margin: 2% 0 0 -2%;
		opacity: 0.3;
		width: 30%;
	}

	#section5 .intro {
		height: 400px;
		width: 760px;
		right: -12%;
		top: 0;
	}

	#section5 .intro .InfosGauche {
		width: 230px;
		height: 400px;
	    padding: 20px 46px 20px 20px;
	}

	#section5 .intro .InfosTitre {
		font-size: 11px;
	}

	#section5 .intro .InfosText {
		font-size: 14px;
	}

	.mapGoogle {
	    margin-left: 230px;
	}

	.mapGoogle iframe {
		height: 400px;
		width: 300px;
	}

	#section5 .intro .InfosDroite {
	    margin-left: 530px;
	    width: 230px;
    	height: 400px;
        padding: 20px 30px 20px 50px;
	}

	#section5 .intro .InfosDroite .InfosText {
		font-size: 11px;
	}

	.ElementFlotant.PraticalInformation img {
	    margin-top: 45%;
	    width: 34%;
	    margin-left: -15%;
	}

	.ElementFlotant.Contact img {
		margin: -30% 0px -20% 60%;
		width: 35%;
	}

	#section6 .intro fieldset {
		max-width: 60%;
	    margin-left: 18%;
	}

	#section6 .intro form legend {
		font-size: 18px;
		padding: 10% 0 0 2%;
	}

	#section6 .intro .arrowSubmit img {
	    margin-top: -65px;
    	margin-left: 350px;
	}

	.partenaires {
		margin-left: 65px;
	}

	.principalContenu {
		margin-left: 180px;
	}

	.newsletter {
		margin-left: 70px;
	}

	.newsletter form .adresseEmail {
		height: 11px;
	}

	.newsletter form #Abonner {
		height: 13px;
	}

	.newsletter form input {
		font-size: 6px;
	}
}

@media all and (max-width: 1024px) {
	header {
		opacity: 1;
	}

	#menu {
		display: none;
	}
}

@media all and (max-device-width: 768px) {
	#section0 .Logotype img {
		width: 70%;
		right: -15%;
	}

	.ElementFlotant.Presentation img {
		margin: 10% 0 0 5%;
	}

	.TextPresentation {
		font-size: 15px;
		line-height: 25px;
		margin: -10% 15% 0;
		width: auto;
	}

	#section2 .works {
		width: 70%;
    	margin-left: 23%;
	}

	#section2 .intro a img {
	    width: 32%;
	    margin: 5px 5px 5px 25px;
	}

	#section2 .intro a .nameHover {
		margin-left: -33%;
	}

	.fp-controlArrow.fp-prev {
		width: 8%;
		left: 15%;
	}

	.fp-controlArrow.fp-next {
		right: 10%;
		width: 8%;
	}

	.fp-slidesNav.bottom {
		bottom: 10%;
	}

	.ElementFlotant.Works a img {
		width: 35%;
		margin: -40% 0px -20% 5%;
	}

	#myModal .boutonFermer {
	    right: 60px;
	}

	#myModal .BoutonAccueil, #myModalDance .BoutonAccueil {
	    left: 43px;
    	top: 16px;
    	width: 27%;
	}

	.fondPopIn {
		height: 915px;
	}


	#section3 .intro .Companies {
		margin-top: 10%;
	    width: 61%;
	    margin-left: 27%;
	}

	#myModalDance .fondPopIn {
	    width: 165%;
    	margin-left: 100px;
		height: 915px;
	}

	.boutonFermer {
		width: 10%
	}

	#section3 .intro a .nameHover.TheAustralianBallet {
		margin-left: -38.4%;
	}

	.ElementFlotant.DanceCompanies img {
	    width: 25%;
    	margin: 15% 0 0 -1%;
	}

	#section4 .intro .ProgramImage img {
	    width: 55%;
    	margin-left: 26.5%;
	}

	.ElementFlotant.Program img {
		padding: 0;
    	margin: 12% 0% 0% 0%;
	}

	#section5 .intro .InfosGauche{
	    width: 180px;
	    margin-top: -50px;
	    margin-left: 190px;
	    height: 310px;
		padding: 10px 20px 20px 20px;
	}

	.mapGoogle {
		margin-left: 300px;
	}

	#section5 .intro .InfosTitre {
		font-size: 9px
	}

	#section5 .intro .InfosText {
		font-size: 10px;
	}

	.mapGoogle iframe {
		margin-top: 260px;
		margin-left: -110px;
		height: 250px;
		width: 358px;
	}

	.traitSeparation {
		margin: -5px 0 -5px 0;
	}


	#section5 .intro .InfosDroite {
	    margin-left: 369px;
	    width: 180px;
	    margin-top: -50px;
	    height: 310px;
	    padding: 10px 25px 0 15px;
	}

	#section5 .intro .InfosDroite .traitSeparation {
		margin: -15px 0 -15px 0px;
	}

	#section5 .intro .InfosTextMin {
		font-size: 7px;
	}

	.ElementFlotant.PraticalInformation img {
	    margin-top: 50%;
    	width: 30%;
    	margin-left: -10%;
	}

	#section6 .intro .arrowSubmit img {
	    margin-top: -65px;
    	margin-left: 335px;
	}

	#section6 .intro textarea {
		width: 80%;
	}

	.ElementFlotant.Contact img {
		margin-bottom: -10%;
	}

	footer {
	    height: 160px;
	}

	.partenaires {
		float: none;
    	margin: 0 0 -23% 8%;
	}

	.principalContenu {
	    margin: 10% 0% 0% 34%;
	}

	.principalContenu .reseauxSociaux {
		margin-top: 24%;
		margin-left: 5%;
	}

	.reseauxSociaux a img {
		width: 20px;
	}

	footer .planSite p {
		font-size: 10px;
	}

	.newsletter {
		float: none;
        margin: 0 -5% 0 0%;
	}

	.newsletter form #legendTitre {
		font-size: 25px;
	}

	.newsletter form #legendSousTitre {
		font-size: 12px;
	}

	.newsletter form .adresseEmail {
		height: 20px;
	}

	.newsletter form #Abonner {
		height: 20px;
	}

	.newsletter form input {
		font-size: 10px;
	}
}

@media all and (max-device-width:425px){
	header .logoBurger img {
		width: 150px;
	}

	.BoutonScroll a img {
		width: 90px;
	}

	.BoutonAccueil img {
		width: 75%;
	}

	.TitreSection {
	    font-size: 70px;
	    top: 15%;
    	left: 15%;
	}

	.TextPresentation {
	    font-size: 22px;
	    line-height: 35px;
    	margin: -10% 25% 0;
	}

	.ElementFlotant.Presentation img {
		width: 45%;
	}

	.fp-slidesNav.bottom {
		bottom: 25%;
	}

	#section2 .intro a img {
		width: 40%;
    	margin: 5px;
	}

	#section2 .intro a .nameHover {
		margin-left: -41%;
	}

	.ElementFlotant.Works img {
	    margin: -50% 0px -20% 2%;
    	width: 45%;
	}

	#myModal:target, #myModalDance:target {
	    width: 49em;
	}

	.fondPopIn {
	    height: 130em;
	}

	#myModalDance .fondPopIn {
		height: 125em;
	}

	#myModal .boutonFermer {
		right: 210px;
	}

	.popInTitre, #myModalDance .popInTitre {
		font-size: 60px;
		left: 20%;
	}

	.PopInContainer p {
		font-size: 30px;
		bottom: 15%;
	}

	#myModal .BoutonAccueil, #myModalDance .BoutonAccueil {
		left: 65px;
	}

	.photoNudes, #myModalDance .photoNudes {
	    left: 6%;
    	height: 0;
	}

	.photoNudes img {
		width: 25%
	}

	#myModalDance .photoNudes img {
		width: 23%;
	}

	#myModal .photoNudes .photoWidth {
		width: 45%;
	}

	#myModalDance .photoNudes .photoWidth {
		width: 35%;
	}

	#myModalDance .PopInContainer p {
	    font-size: 30px;
	    bottom: 20%;
    	left: 20%;
	}

	#myModal .photoNudes .photoWidth2 {
		width: 26%;
	}

	#myModalDance .boutonFermer {
		right: 20em;
	}

	#section3 .intro .Companies {
		margin-top: 25%;
		margin-left: 33%;
	}

	#section3 .intro .Companies a img {
	    width: 55%;
	}

	#section3 .intro a .nameHover.TheAustralianBallet {
		margin-left: -58.4%;
	}

	.ElementFlotant.DanceCompanies img {
	    margin: 90% 0 0 2%;
	}

	#section5 .intro .InfosGauche {
	    width: 22em;
	    margin-top: -15em;
    	margin-left: 73px;
	    height: 45em;
	}

	#section5 .intro .InfosTitre {
		font-size: 20px;
	}

	#section5 .intro .InfosText {
		font-size: 25px;
	}

	.mapGoogle iframe {
		margin-top: 30em;
		margin-left: -230px;
		height: 30em;
		width: 45em;
	}

	#section5 .intro .InfosDroite {
		margin-left: 381px;
		width: 22.9em;
		margin-top: -15em;
		height: 45em;
	}

	#section5 .intro .InfosDroite .InfosText {
		font-size: 25px;
	}

	#section5 .intro .InfosTextMin {
		font-size: 13px;
	}

	.ElementFlotant.PraticalInformation img {
		margin-top: 105%;
		width: 40%;
		margin-left: -14%;
	}

	#section6 .intro form legend {
		font-size: 25px;
	}

	#section6 .intro form input {
		font-size: 20px;
	}

	#section6 .intro textarea {
		font-size: 21px;
	}

	#section6 .intro .arrowSubmit img {
	    margin-top: -77px;
    	margin-left: 346px;
	}

	.ElementFlotant.Contact img {
	    width: 45%;
	    margin-bottom: -25%;
	}

	footer {
		height: 300px;
	}

	.partenaires {
		margin: 2% 0 -18% 8%;
	}

	.partenaires a img {
	    width: 45px;
	}

	.principalContenu {
		margin: 10% 0% 0% 34%;
	}

	.principalContenu .reseauxSociaux {
		margin-top: 5%;
    	margin-left: 0%;
	}

	.reseauxSociaux a img {
		width: 40px
	}

	footer .planSite {
		margin: 5% 0% 5% -18%;
	}

	footer .planSite p {
		font-size: 15px;
	}

	.newsletter {
		margin: 0 -13% 0 0%;
	}

	.newsletter form #legendTitre {
		font-size: 30px;
	}

	.newsletter form #legendSousTitre {
	    font-size: 15px;
    	margin-bottom: 12px;
	}

	.newsletter form .adresseEmail {
	    height: 30px;
    	font-size: 15px;
	}

	.newsletter form #Abonner {
		height: 30px;
    	font-size: 15px;
	}
}


/*--------------------------Fin Media queries-------------------------------*/