@font-face {
  font-family: FranklinGothicBookItalic;
  src: url(fonts/FranklinGothicBookItalic.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(fonts/Helvetica.dfont);
}

a, a:hover, a:active, a clicked {
	text-decoration: none;
}

/*--------------------------Menu Burger-------------------------------*/

header {
	z-index: 1;
	position: absolute;
	left: 0;
	right: 0;

	opacity: 0;
}

.MenuBurger {
	background-color: #A68A99;
	position: fixed;
	transition: transform 0.3s;
	width: 200px;
	height: 100%;
	top: 0;
	right: 0;
	transform: translateX(200px);
}

.MenuBurgerInterieur {
	list-style: none;
	margin: 0;
	padding: 0;
}

.MenuBurger ul {
	padding-left: 0;
}

.closeMenu {
	color: #fff;
	background-color: #A68A99;
	font-size: 14px;
	border: none;
	box-shadow: none;
	border-radius: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
    font-family: FranklinGothicBookItalic;
	display: block;
	padding: 12px 0;
	width: 100%;
}

.closeMenu:focus {
  outline: none;
}


.MenuBurger .MenuBurgerInterieur li {
	display: block;
	text-align: center;
	border-top: solid 1px #C4ADBC;
	border-bottom: solid 1px #C4ADBC;
}

.MenuBurger .MenuBurgerInterieur li:first-child {
	border-top: none;
}

.MenuBurger .MenuBurgerInterieur li:last-child {
	border-bottom: none;
}

.MenuBurger .MenuBurgerInterieur li a {
	display: block;
	padding: 12px 24px;
	color: #fff;
}

header .logoBurger img {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 70px;
}

#menuBurger li a .TextMenuBurger .FrText:hover {
	color: #C4ADBC;
	list-style: none;
	text-decoration: none;
}

#menuBurger .TextMenuBurger {
	font-family: FranklinGothicBookItalic;
	color: #FFF;
}

#menuBurger .TextMenuBurger .EnText {
	display: none;
}


/*--------------------------Fin Menu Burger-------------------------------*/

/*--------------------------Menu-------------------------------*/

.Menu {
	list-style: none;
	z-index: 1;
	top: 50%;
	position: fixed;
	right: 24px;
	margin-top: -19%;
}


.Menu .TextMenu {
	font-family: FranklinGothicBookItalic;
	color: #A68A99;
	float: right;
	margin: 15px 20px 10px 0;
	font-size: 14px;
}

.Menu .home {
	width: 21px;
    height: 16px;
    margin-left: auto;
}

.Menu .BarreMenu {
	position: relative;
	right: 8px;
	background-color: #8A93A6;
	height: 51px;
	width: 6px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	text-align: center;
}

.Menu .Langue {
	margin-bottom: 10px;
	margin-left: auto;
	width: 22px;
}

.Menu .BarreMenu:hover{
	transition: all 0.3s ease-out;
	width: 10px;
	background-color: #A68A99;
	display: block;
}


/*--------------------------End Menu-------------------------------*/

/*----------------------------------general--------------------------------------*/

.Fond {
	position: fixed;
	width: 100%;
	background-image: url('images/Background.svg');
	background-size: cover;
	height: 100%;
}

.section {
	padding: 0;
	margin: 0;
	position: relative;
}


.BoutonScroll {
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 30px;
	text-align: center;
	overflow: hidden;
}

.intro {
	position: relative;
}

.BoutonAccueil {
	position: absolute;
	overflow: hidden;
	top: 20px;
	left: 20px;
}

.BoutonAccueil img {
	width: 50%;
}

.TitreSection {
	font-family: Helvetica;
	font-variant: small-caps;
	font-size: 40px;
	top: 10%;
	left: 30%;
	position: absolute;
}

/*----------------------------------End general--------------------------------------*/

/*----------------------------------Home--------------------------------------*/

.Logotype img {
	width: 50%;
	position: relative;
	margin-top: -3%;
	right: -27%;
}

/*----------------------------------End Home--------------------------------------*/

/*----------------------------------Presentation--------------------------------------*/

.TextPresentation {
	margin:-5% 25% 0;
	text-align: justify;
	line-height: 20px;
	width: 50%;
	font-size: 15px;
	height: auto;
	background-color: rgba(225, 231, 243, 0.7);
	font-family: Helvetica;
	padding: 40px 80px;
}

.ElementFlotant.Presentation img {
	margin-top: -5%;
	opacity: 0.5;
	z-index: 2;
	position: absolute;
}

/*----------------------------------End Presentation--------------------------------------*/

/*----------------------------------Works--------------------------------------*/

#section2 .works {
	height: 80%;
	width: 50%;
	margin-left: 30%;
	z-index: 1;
}


#section2 a {
	cursor: pointer;
}

#section2 .intro a img {
	height: 100%;
	width: 25%;
	float: left;
	margin: 5px;
	cursor: pointer;
}

#section2 .intro a .nameHover {
	margin-left: -25.5%;
	opacity: 0;
}

#section2 .intro a:hover  .nameHover{
	opacity: 0.9;
    transition: opacity 1s;
}

.ElementFlotant.Works img {
	margin: -25% 0px -20% 5%;
	opacity: 0.5;
	z-index: 1;
	position: absolute;
}

#myModal {
	display: none;
    left: 0;
    bottom: 0;
	z-index: 99;
}

#myModal:target {
	display: block;
    width: 100%;
    height: auto;
}

#section2 .intro #myModal .BoutonAccueil a img {
	width: 50%;
}


.fondPopIn {
	background-color: #E0E8F2;
	width: 200%;
	background-size: cover;
	height: 830px;
	right: 0;
	left: -60%;
    bottom: 0;
    position: relative;
}

.PopInContainer {
	position: relative;
	height: 100%;
}

.popInTitre {
	font-family: Helvetica;
	font-variant: small-caps;
	font-size: 40px;
	position: absolute;
	top: 10%;
	left: 30%;
}

.photoNudes {
	float: left;
	position: absolute;
	top: 25%;
	left: 35%;
	height: 35%;
}

.photoNudes img {
	width: 15%;
}

#myModal .photoNudes .photoWidth {
    width: 26%;
}

.PopInContainer p {
	position: absolute;
	font-family: Helvetica;
	font-size: 14px;
	width: 50%;
	text-align: justify;
	bottom: 25%;
	left: 25%;
}

.PopInContainer p a {
	color: #000;
}

.boutonFermer {
	position: absolute;
	right: -10px;
	top: 90px;
}

.boutonFermer a img {
	width: 20%;
	height: 20%;
}

/*----------------------------------End Works--------------------------------------*/

/*----------------------------------DanceCompanies--------------------------------------*/

#section3 .intro .Companies {
	height: 60%;
	width: 50%;
	margin-top: 5%;
	margin-left: 31%;
}

#section3 a {
	cursor: pointer;
}

#section3 .intro .Companies a img{
	height: 100%;
	width: 35%;
	float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

.ElementFlotant.DanceCompanies img {
	margin: 7% 0px -20% 2%;
	opacity: 0.5;
	z-index: 2;
	width: 20%;
	position: absolute;
}

#section3 .intro a .nameHover.TheAustralianBallet {
    margin-left: -37.9%;
    opacity: 0;
}

#section3 .intro a:hover  .nameHover{
	opacity: 0.9;
    transition: opacity 1s;
}

#myModalDance {
	display: none;
    left: 0;
    bottom: 0;
	z-index: 99;
}

#myModalDance:target {
	display: block;
    width: 100%;
    height: auto;
}

#section3 .intro #myModalDance .BoutonAccueil a img {
	width: 50%;
}


#myModalDance .fondPopIn {
	left: -62%;
}

#myModalDance .popInTitre {
	font-family: Helvetica;
	font-variant: small-caps;
	font-size: 40px;
	position: absolute;
	top: 10%;
	left: 30%;
}

#myModalDance .photoNudes {
	float: left;
	position: absolute;
	top: 25%;
	left: 35%;
	height: 35%;
}

#myModalDance .photoNudes img {
	width: 15%;
}

#myModalDance .photoNudes .photoWidth {
    width: 23%;
}

#myModalDance .PopInContainer p {
	position: absolute;
	font-family: Helvetica;
	font-size: 14px;
	width: 50%;
	text-align: justify;
	bottom: 25%;
	left: 25%;
}

#myModalDance .PopInContainer p a {
	color: #000;
}

#myModalDance .boutonFermer {
	position: absolute;
	right: -10px;
	top: 90px;
}

#myModalDance .boutonFermer a img {
	width: 20%;
	height: 20%;
}

/*----------------------------------End DanceCompanies--------------------------------------*/

/*----------------------------------Program--------------------------------------*/

#section4 .intro .ProgramImage img {
	max-width: 450px;
	width: 40%;
	margin-left: 30%;
	top: -240px;
	position: absolute;
}

.ElementFlotant.Program img {
	opacity: 0.3;
	z-index: 2;
	width: 35%;
	position: absolute;
}

/*----------------------------------End Program--------------------------------------*/

/*----------------------------------PracticalInformations--------------------------------------*/

#section5 .intro {
	position: relative;
    height: 450px;
    width: 900px;
    right: -18%;
    top: 5%;
}

.traitSeparation {
    border-bottom: 2px solid #A68A99;
}

.mapGoogle {
	position: absolute;
    margin-left: 275px;
    z-index: 2;
}

#section5 .intro .InfosGauche {
	width: 275px;
	height: 450px;
	position: absolute;
	background-color: rgba(225, 231, 243, 0.7);
	padding: 20px 70px 20px 20px;
}

#section5 .intro .InfosDroite {
    margin-left: 625px;
	float: left;
	width: 275px;
	height: 450px;
	position: absolute;
	background-color: rgba(225, 231, 243, 0.7);
	padding: 20px 30px 20px 100px;
}

#section5 .intro .InfosTitre {
	font-family: Helvetica;
	font-variant: small-caps;
	font-size: 13px;
}

#section5 .intro .InfosText {
	font-family: Helvetica;
	font-size: 15px;
}

#section5 .intro .InfosDroite .InfosText {
	font-size: 14px;
}

#section5 .intro .InfosText a {
	color: #000;
	text-decoration: underline;
}

#section5 .intro .InfosTextMin {
	font-family: Helvetica;
	font-size: 10px;
}

.ElementFlotant.PraticalInformation img {
	margin-top: 33%;
	margin-left: -25%;
	opacity: 0.5;
	z-index: 2;
	position: absolute;
	width: 40%;
}

/*----------------------------------End PracticalInformations--------------------------------------*/

/*----------------------------------Contact--------------------------------------*/

#section6 .intro fieldset {
	max-width: 55%;
	margin-left: 20%;
	background-color: rgba(225, 231, 243, 0.7);
}

#section6 .intro form legend {
	font-family: Helvetica;
	font-size: 20px;
	border: 0;
	padding: 6% 0 0 2%;
}

#section6 .intro form input {
	font-family: Helvetica;
	font-size: 14px;
	float: left;
	border: 0;
	width: 70%;
	background: none;
	margin: 4% 0 0 2%;
}

#section6 .intro textarea {
	border: 0;
	background: none;
	float: left;
	margin: 4% 0 0 2%;
	resize: none;
}

#section6 .intro #submit {
	margin-left: 15%;
	padding-bottom: 2%;

}

#section6 .intro form fieldset div {
	float: left;
}

#section6 .intro .arrowSubmit img {
	width: 5%;
	margin-top: -75px;
    margin-left: 445px;
}

.ElementFlotant.Contact img {
	margin: -20% 0px -20% 55%;
	opacity: 0.5;
	z-index: 2;
	width: 40%;
}


/*----------------------------------End Contact--------------------------------------*/
/*----------------------------------Footer--------------------------------------*/

footer {
	background-color: #A68A99;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
}

.partenaires {
	position: relative;
	float: left;
	margin-left: 200px;
}

.partenaires a img {
	width: 25px;
	margin: 10px;
}

.principalContenu {
	position: relative;
	float: left;
	margin-left: 270px;
}

.reseauxSociaux .pinterest {
	margin-right: 55px;
}

.reseauxSociaux .instagram {
	margin-right: 55px;
}

.reseauxSociaux .facebook {
	margin-right: 55px;
}

.reseauxSociaux .twitter {
	margin-right: 55px;
}

.reseauxSociaux a img {
	width: 15px;
}

footer .planSite p {
	font-family: Helvetica;
	font-size: 8px;
	font-variant: small-caps;
	text-align: center;
	margin-top: 4px;
	color: #FFF;
}

footer .planSite p a {
	color: #FFF;
}

.newsletter {
	position: relative;
	float: left;
	margin-left: 150px; 
}

.newsletter form {
	font-family: Helvetica;
	text-align: center;
}

.newsletter form #legendTitre {
	font-size: 12px;
	margin-top: 4px;
	color: #FFF;
	text-align: center;
	border: 0;
}

.newsletter form #legendSousTitre {
	font-size: 6px;
	margin-top: -20px;
	color: #FFF;
	text-align: center;
	font-style: italic;
}

.newsletter form input {
	font-family: Helvetica;
	font-size: 8px;
	bottom: 2px;
}

.newsletter form .adresseEmail {
	padding-right: 140px;
	height: 13px;
}

.newsletter form #Abonner {
	border: 1px solid #FFF;
	border-radius: 3px;
	color: #FFF;
	background-color: #A68A99;
	border-radius: 2px;
    height: 16px;
}

/*----------------------------------End Footer--------------------------------------*/

/*--------------------------Media queries-------------------------------*/

@media screen and (min-width: 1440px){
	.Menu {
	    top: 65%;
	}

	.TitreSection {
		font-size: 60px;
	}

	.TextPresentation {
		font-size: 20px;
		line-height: 30px;
	}

	.ElementFlotant.Presentation img {
	    margin: 5% 0% 0 5%;
	    width: 18%;
	}
}


@media screen and (max-width: 1024px){

	#section0 .Logotype img {
		width: 50%;
		right: -27%;
	}

	.TextPresentation {
	    margin: -5% 25% 0;
	}

	.TextPresentation {
		padding: 40px 40px;
	}

	.ElementFlotant.Presentation img {
		width: 30%;
	    margin: 0% 0 0 5%;
	}

	.ElementFlotant.Works img {
		margin: -25% 0px -20% 2%;
		width: 30%;
	}

	#section2 .works {
		width: 65%;
    	margin-left: 25%;
	}

	.fondPopIn {
		left: -40%;
		height: 830px;
		width: 160%;
	}

	#myModalDance .fondPopIn {
		width: 200%;
		height: 715px;
	}

	#section3 .intro .Companies a img {
	    margin-left: 23%;
	    width: 30%;
	}

	#section3 .intro .Companies {
		margin-top: 8%;
	}

	#section3 .intro a .nameHover.TheAustralianBallet {
		margin-left: -33.9%;
	}

	#section4 .intro .ProgramImage img {
		width: 40%;
    	margin-left: 30%;
    	margin-top: 3%;
	}

	.ElementFlotant.DanceCompanies img {
	    width: 25%;
    	margin: 15% 0 0 5%;
	}

	.ElementFlotant.Program img {
		margin: 2% 0 0 -2%;
		opacity: 0.3;
		width: 40%;
	}

	#section5 .intro {
		height: 400px;
		width: 760px;
		right: -12%;
		top: 0;
	}

	#section5 .intro .InfosGauche {
		width: 230px;
		height: 400px;
	    padding: 20px 46px 20px 20px;
	}

	#section5 .intro .InfosTitre {
		font-size: 11px;
	}

	#section5 .intro .InfosText {
		font-size: 14px;
	}

	.mapGoogle {
	    margin-left: 230px;
	}

	.mapGoogle iframe {
		height: 400px;
		width: 300px;
	}

	#section5 .intro .InfosDroite {
	    margin-left: 530px;
	    width: 230px;
    	height: 400px;
        padding: 20px 30px 20px 50px;
	}

	#section5 .intro .InfosDroite .InfosText {
		font-size: 11px;
	}

	.ElementFlotant.PraticalInformation img {
	    margin-top: 45%;
	    width: 34%;
	    margin-left: -15%;
	}

	.ElementFlotant.Contact img {
		margin: -20% 0px -20% 60%;
		width: 35%;
	}

	#section6 .intro fieldset {
		max-width: 60%;
	    margin-left: 18%;
	}

	#section6 .intro form legend {
		font-size: 18px;
		padding: 10% 0 0 2%;
	}

	#section6 .intro .arrowSubmit img {
	    margin-top: -65px;
    	margin-left: 350px;
	}

	.partenaires {
		margin-left: 65px;
	}

	.principalContenu {
		margin-left: 180px;
	}

	.newsletter {
		margin-left: 70px;
	}

	.newsletter form .adresseEmail {
		height: 11px;
	}

	.newsletter form #Abonner {
		height: 13px;
	}

	.newsletter form input {
		font-size: 6px;
	}
}

@media screen and (max-width: 1024px) {
	header {
		opacity: 1;
	}

	#menu {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	#section0 .Logotype img {
		width: 70%;
		right: -15%;
	}

	.ElementFlotant.Presentation img {
		margin: 10% 0 0 5%;
	}

	.TextPresentation {
		font-size: 15px;
		line-height: 25px;
		margin: -10% 15% 0;
		width: auto;
	}

	#section2 .works {
		width: 70%;
    	margin-left: 23%;
	}

	#section2 .intro a img {
	    width: 32%;
	    margin: 5px 5px 5px 25px;
	}

	#section2 .intro a .nameHover {
		margin-left: -33%;
	}

	.fp-controlArrow.fp-prev {
		width: 8%;
		left: 15%;
	}

	.fp-controlArrow.fp-next {
		right: 10%;
		width: 8%;
	}

	.fp-slidesNav.bottom {
		bottom: 10%;
	}

	.ElementFlotant.Works a img {
		width: 35%;
		margin: -40% 0px -20% 5%;
	}

	#section3 .intro .Companies {
		margin-top: 10%;
	}

	#section3 .intro .Companies a img {
		margin-left: 22%;
		width: 35%;
	}

	#section3 .intro a .nameHover.TheAustralianBallet {
		margin-left: -49.7%;
	}

	.ElementFlotant.DanceCompanies img {
	    width: 30%;
	    margin: 30% 0 0 2%;
	}

	#section4 .intro .ProgramImage img {
	    width: 55%;
    	margin-left: 23%;
	}

	.ElementFlotant.Program img {
		padding: 0;
    	margin: 12% 0% 0% 0%;
	}

	#section5 .intro .InfosGauche{
	    width: 180px;
	    margin-top: -50px;
	    margin-left: 120px;
	    height: 310px;
		padding: 10px 20px 20px 20px;
	}

	.mapGoogle {
		margin-left: 230px;
	}

	#section5 .intro .InfosTitre {
		font-size: 9px
	}

	#section5 .intro .InfosText {
		font-size: 10px;
	}

	.mapGoogle iframe {
		margin-top: 260px;
		margin-left: -110px;
		height: 250px;
		width: 358px;
	}

	.traitSeparation {
		margin: -5px 0 -5px 0;
	}


	#section5 .intro .InfosDroite {
	    margin-left: 300px;
	    width: 180px;
	    margin-top: -50px;
	    height: 310px;
	    padding: 10px 25px 0 15px;
	}

	#section5 .intro .InfosDroite .traitSeparation {
		margin: -15px 0 -15px 0px;
	}

	#section5 .intro .InfosTextMin {
		font-size: 7px;
	}

	.ElementFlotant.PraticalInformation img {
	    margin-top: 50%;
    	width: 30%;
    	margin-left: -10%;
	}

	#section6 .intro .arrowSubmit img {
	    margin-top: -61px;
    	margin-left: 270px;
	}

	#section6 .intro textarea {
		width: 80%;
	}

	.ElementFlotant.Contact img {
		margin-bottom: -10%;
	}

	footer {
	    height: 160px;
	}

	.partenaires {
		float: none;
    	margin: 0 0 -26% 8%;
	}

	.principalContenu {
	    margin: 10% 0% 0% 30%;
	}

	.principalContenu .reseauxSociaux {
		margin-top: 24%;
		margin-left: 5%;
	}

	.reseauxSociaux a img {
		width: 20px;
	}

	footer .planSite p {
		font-size: 10px;
	}

	.newsletter {
		float: none;
        margin: 0 -5% 0 0%;
	}

	.newsletter form #legendTitre {
		font-size: 25px;
	}

	.newsletter form #legendSousTitre {
		font-size: 12px;
	}

	.newsletter form .adresseEmail {
		height: 20px;
	}

	.newsletter form #Abonner {
		height: 20px;
	}

	.newsletter form input {
		font-size: 10px;
	}
}

@media screen and (max-width: 425px){
	.BoutonAccueil img {
		width: 35%;
	}

	.TitreSection {
	    font-size: 27px;
    	top: 20%;
    	left: 20%;
	}

	.TextPresentation {
		font-size: 12px;
		line-height: 23px;
		margin: -10% 6% 0;
	}

	.ElementFlotant.Presentation img {
		margin-top: 0;
		width: 45%;
	}

	#section2 .intro a img {
	    width: 40%;
    	margin: 5px 2px 5px 2px;
	}

	#section2 .intro a .nameHover {
		margin-left: -41%;
	}

	.ElementFlotant.Works img {
	    margin: -35% 0px -20% 2%;
    	width: 40%;
	}
}


/*--------------------------Fin Media queries-------------------------------*/